#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.bg-secondary {
    background-color: black!important;
}

h1 {
    font-size: 24px;
    color: white;
}

h2 {
    color: whitesmoke;
    text-align: center;
}

.row {
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top:auto;
    margin-bottom:auto
}

.content-container {
    margin: 0px;
    padding: 10px;
    width: 100%;
    max-width: none;
}

.col-12, p{
    color: whitesmoke;
}

.card {
    background-color: transparent;
    border: 0.5px solid whitesmoke;
}

.btn {
    background-color: whitesmoke;
    color: black!important;
    border: none;
    
}

.btn:hover {
    background-color: gray;
}

.card-title {
    color: whitesmoke;
}

.content-title {
    font-size: 20px;
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    margin: 10px;
}

#card-center {
  
    position: inherit;
}

.content {
    height: auto;
    background-color: #ffffff;
    margin: 20px auto auto auto;
    border: 2px solid #cccccc;
    position: relative;
}

.content-body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    line-height: 24px;
    position: relative;
    height: auto;
    margin: 0px;
    padding: 0px;
}


.portfolio-pic {
    max-width: 100%;
}

  /* Side navigation bar */

#mySidenav a {
    position: fixed; 
    left: -80px; 
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none; 
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0;
}
  
#mySidenav a:hover {
    left: 0; 
}

#about {
    top: 20px;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, pink);
}
  
#skills {
    top: 80px;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, pink);
}
  
#port {
    top: 140px;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, pink);
}
  
#resume1 {
    top: 200px;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, pink);
}

#contact {
    top: 260px;
    background-color: transparent;
    background-image: linear-gradient(to right, transparent, transparent, transparent, transparent, pink);
}


  /* Landing picture */

.hero-image {
    background-image: url("../img/hero-image.jpg");
    min-height: 100vh;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
  
.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: whitesmoke;
    text-align: center;
    cursor: pointer;
}
  
.hero-text button:hover {
    background-color: #555;
    color: white;
}

.ml2 {
    font-weight: 900;
    font-size: 95px;
}
  
.ml2 .letter {
    display: inline-block;
    line-height: 1em;
}

.hero-text, p {
      font-size: 25px;
}

li {
    text-align: center;
    font-size:20px;
}

.card-custom {
    box-shadow: 0 4px 8px 0 rgba(233, 232, 232, 0.911), 0 6px 20px 0 rgba(233, 232, 232, 0.911);
}


  /* skills bar */

@keyframes load{
    from {
      width: 0%
    }
}
@-webkit-keyframes load{
    from {
      width: 0%
    }
}
@-moz-keyframes load{
    from {
      width: 0%
    }
}
@-o-keyframes load{
    from {
      width: 0%
    }
}
  
.bar{
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
    content:  attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}
  
.bar.front::before{
    background-color: darkred;
}
.bar.back::before{
    background-color: darkred;
}
  
.bar.learning::before{
    width: calc(20% - 10px);
}
.bar.basic::before{
    width: calc(40% - 10px);
}
.bar.intermediate::before{
    width: calc(45% - 10px);
}
.bar.advanced::before{
    width: calc(80% - 10px);
}
.bar.expert::before{
    width: calc(100% - 10px);
}